*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: cursive;
  background-color: #e0e0e08f;
  color: rgb(0, 49, 0);
  font-size: 20px;
  padding-top: 0px;
  .navbar {
    padding: 10px;
    margin-bottom: 80px;
    .home {
      margin-right: 10px;
    }
  }

  .greeting {
    text-align: center;
    justify-content: space-around;
  }

  .modalWindow {
    position: fixed;
    top: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    opacity: 0.93;
    padding: 200px;
  }

  .container {
    background-color: #a1f5ae12;
    border: 3px solid;
    color: #5b6369;
    padding: 30px;
    border-radius: 5%;
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    .mainForm{
      margin-bottom: 27px;
    }

    .feeForm {
      display: flex;
      justify-content: space-around;
      font-size: 17px;
      margin-bottom: 0px;
      padding: 0;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
    }

    .exchange {
      margin-bottom: 16px;
      font-size: 23px;
      padding: 0px;
      align-self: flex-end;
      text-align: center;
    }

    .firstForm{
      justify-content: space-between;
    }

    .secondForm {
      justify-content: space-between;
    }
  }
}


